/*---------------------------------------------------------------
 Global styles
----------------------------------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
-------------------------------------------------------------------------------
HTML elements 
-------------------------------------------------------------------------------
*/
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #1f3757 0%,
    #131537 100%
  );
}

.scoreboard {
  width: 700px;
  height: 150px;
  border-radius: 15px;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.title {
  padding-left: 30px;
}

.score {
  width: 150px;
  height: 114px;
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score h1 {
  color: #565468;
  font-size: 56px;
  font-family: "Barlow", sans-serif;
}

.score p {
  color: #2a45c2;
  font-family: Barlow Semi Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 2.5px;
  text-align: left;
}

.hands {
  visibility: visible;
  opacity: 1;
  position: relative;
  width: 476px;
  height: 430px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  z-index: 0;
}
.hands img {
  width: 200px;
  height: 200px;
}

.triangle {
  position: absolute;
  margin-top: 20%;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 20%;
  z-index: -1;
}

.top {
  display: flex;
  justify-content: space-between;
}

.bottom {
  display: flex;
  justify-content: center;
}

.contest {
  visibility: hidden;
  opacity: 0;
  margin-top: -450px;
  z-index: 100;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.contest img {
  width: 275px;
  height: 275px;
}

.contest h1 {
  color: white;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
}

.userhand {
  visibility: hidden;
  opacity: 0;
  display: none;
  padding-right: 20px;
}

#Paper {
  visibility: hidden;
  opacity: 0;
  display: none;
}

#Rock {
  visibility: hidden;
  opacity: 0;
  display: none;
}
#Scissors {
  visibility: hidden;
  opacity: 0;
  display: none;
}

.referee {
  display: flex;
  justify-content: center;
  align-items: center;
}

.referee h1 {
  font-size: 45px;
  color: white;
}

.computerhand {
  visibility: hidden;
  opacity: 0;
  display: none;
}

#cpPaper {
  visibility: hidden;
  opacity: 0;
  display: none;
}

#cpRock {
  visibility: hidden;
  opacity: 0;
  display: none;
}
#cpScissors {
  visibility: hidden;
  opacity: 0;
  display: none;
}
